/* Main Contents */
* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  overflow-x: auto;
  /*overflow-y: hidden;*/
}

.container {
  width: 300px;
  padding: 8px;
  margin-left: 15px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
}

.lists {
  width: 300px;
  background-color: #EBECF0;
  margin-left: 15px;
}

.cards {
  margin: 10px;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
}

.card.darken {
  background-color: #0009;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 0;
}

.contain {
  position: relative;
}

.contain2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.content {
  margin: 10px;
  padding: 5px 8px 5px 8px;
  width: 280px;
  margin-left: 10px;
  border: none;
}

.card.input3 {
  width: 280px;
  padding: 5px 8px 25px 8px;
  margin-left: 10px;
  border: none;
}

.titles.input1 {
  margin: 15px;
  font-weight: bold;
  height: 2px;
  margin-bottom: 11px;
  margin-top: 22.5px;
}

.titles.input1:focus {
  background-color: #ddd;
}

.titles {
  margin: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.titles.todo {
  flex-grow: 15;
  font-weight: bold;
}

.horiz.icon{
  margin-right: auto;
  margin-left: 150px;
}
.horiz {
  color: #6b778c;
  margin-right: auto;
  cursor: pointer;
}
.horiz:hover {
  background-color: #cdcfda;
  color: rgba(0,0,0,0.6);
}

.input.card {
  background-color: #EBECF0;
  margin-top: 20px;
  border: none;
  padding-left: 15px;
}

.input.input2 {
  color: #5E6C84;
  cursor: pointer;
}
.input.input2:hover {
  background-color: #cdcfda;
  color: rgba(0,0,0,0.6);
  border-radius: 1px;
  margin-right: 40px;
}

.inputCard.card1 {
  margin-left: 5px;
}

.inputCard.input3 {
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 25px;
  margin: 0px;
}

::placeholder {
  font-weight: bold;
}
.card.btn.button {
  width: 80px;
  margin-top: 15px;
  margin-left: 10px;
}

.btn.button {
  background-color: #0079BF;
  color: #fff;
  margin: 6px;
  text-transform: none;
}
.btn.button:hover {
  background-color: #026aa7;
  color: #fff;
}

.inputCard.clear {
  color: #6b778c;
  cursor: pointer;
}
.inputCard.clear:hover {
  color: rgba(0,0,0,0.6);
}

